<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>WFPデータビューワ</title>
</head>
<body>
    <p>水温<br>
        <%= temp %>℃</p>
    <p>エンジン回転数<br>
        <%= rpm %>RPM</p>
    <form method="get" action="/webapp/login">
        <p><input type="submit" value="ログアウト"></p>
    </form>
</body>

</html>